#maintitle{
    background-color: blue;
}
.introtext{
    background-color: brown;
    color:white;
}
#minititle{
    background-color:white;
    color: black;
    border: 5px solid black;
}
.body{
    background-color: aqua;
}